.itemDetailContainer h3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2%;
}


.itemDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-items: center;
}


.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-items: center;
}
